<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/listview.css">
</head>
<body>

<div id="home">
    <!--    <form>-->
    <!--        Zeit:<br>-->
    <!--        <input type="text" name="time" placeholder="hh:mm"><br>-->
    <!--        Von:<br>-->
    <!--        <input type="text" name="from"><br>-->
    <!--        Nach:<br>-->
    <!--        <input type="text" name="to"><br>-->
    <!--        <input type="submit" value="Submit">-->
    <!--    </form>-->
    <!--    <br>-->

    <section id="js-grid-list" class="grid-list" v-cloak>

        <div class="tool-bar">
            <a class="back-icon" v-if="layout === 'zugservice-detail'" v-on:click="layout = 'list'"
               v-bind:class="{ 'active': layout == 'list'}" title="Back"></a>
        </div>

        <ul v-if="layout === 'list'" class="list">
            <li v-for="zug in zugservices">
                <a v-on:click="showZugserviceDetail(zug.uuid)">
                    <p>{{zug.title}}</p>
                    <!--                    <p>{{zug.uuid}}</p>-->
                    <p v-for="waggon in zug.waggons">{{waggon.number}}</p>
                </a>
            </li>
        </ul>
        <ul v-if="layout === 'zugservice-detail'" class="zugservice-detail">
            <template v-for="zug in zugservices">
                <template v-if="zugserviceId === zug.uuid">
                    <li v-for="waggon in zug.waggons" class="waggon">
                        <p>Waggon N°: {{waggon.number}}</p>
                        <div class="waggon-image">
                            <img v-bind:src="waggon.image">
                            <div class="row-placeholder row1"></div>
                            <div class="row-placeholder row2">
                                <button type="button" class="col1 reserved">Reservieren</button>
                                <button type="button" class="col2">Reservieren</button>
                                <button type="button" class="col3 unvisible">Reservieren</button>
                                <button type="button" class="col4 ">Reservieren</button>
                                <button type="button" class="col5 reserved">Reservieren</button>
                            </div>
                            <div class="row-placeholder row3"></div>
                        </div>
                    </li>
                </template>
            </template>
        </ul>

    </section>

    <div id="app">
        {{ info }}
    </div>

</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../js/zugservice.js"></script>
</body>
</html>